@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  position: relative;
  width: 941px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #DDDDDD;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header p {
  position: absolute;
  color: #FFFFFF;
}

footer {
  position: relative;
  width: 941px;
  height: 100px;
  margin: 0 auto;
  bottom: -600px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #DDDDDD;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.container {
  max-width: 940px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .description {
  position: absolute;
  top: 35px;
  width: 300px;
}

.container .description h1 {
  top: 0px;
  font-size: 32px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.4px;
  font-weight: bold;
  color: #134880;
}

.container .description p {
  position: absolute;
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.4px;
}

.container .wrapper {
  position: absolute;
  left: 0px;
  width: 65%;
  height: 200px;
  top: 60px;
}

.container .wrapper .picture {
  width: auto;
  height: 200px;
  margin: 0 5px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .wrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.container .wrapper .wrap-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container .wrapper .wrap-bot .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4px;
  overflow: hidden;
  margin-right: 150px;
  display: flex;
}

.container .buttons {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 130px;
  right: 400px;
  bottom: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .buttons .button-left {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid #484A4C;
  padding: 20px;
  margin: 0 0 10px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.container .buttons .button-left:hover {
  background-color: #134880;
}

.container .buttons .button-right {
  position: relative;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;
  border: 1px solid #484A4C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.container .buttons .button-right:hover {
  background-color: #134880;
}
/*# sourceMappingURL=style.css.map */